<div style="display:none">
	<div id="login">
		<h3 class="login">Login</h3>
		<form name="loginform" method="post" action="/login">
		<p>
			<label for="username">Username: </label><input type="text" name="username" />
		</p>
		<p>
			<label for="pwd">Passwort: </label><input type="password" name="pwd" />
		</p>
		<p class="button">
			<input type="submit" name="Login" value="Login">
		</p>
		</form>
	</div>
</div>
