<div id="menu">
  <div id="event_menu">
  <%= link_to "Stationen&Quiz", :controller => "base", :action => "timedevents"%> | 
  <%= link_to "Event", :controller => "base", :action => "timedevents"%>
  </div>
	<%=link_to "Home", :controller => "base", :action => "index" %> | <%=link_to "Ranking", :controller => "base", :action => "ranking" %>
</div>
