<div id="menu">
  <div id="event_menu">
  <%= link_to "Stationen & Quiz", :controller => "base", :action => "events"%> | 
  <%= link_to "Events", :controller => "base", :action => "timed_events"%>
  </div>
	<%=link_to "Home", :controller => "base", :action => "index" %> | 
	<%=link_to "Ranking", :controller => "base", :action => "ranking" %>
</div>
