<%= render 'menu', { :permission => @permission } %>
<%= render 'login' %>
<div id="left_column">
	<%= render 'eventlist' %>
</div>

<div id="right_column">
	<h1><%= @welcome %></h1>
		
	<p></p>Until login doesn't work set permission in BaseController#index:</p>
	<p>
	permission = 1 //for visitor<br />
	permission = 2 //for guide<br />
	permission = 3 //for admin<br />
	</p>
</div>

