<div id="left_menu_station"></div>
<div id="left_menu_event"></div>
<div id="left_column">
	<h1>Events</h1>
	<br/><br/>
	<% @events.each do |event| %>
	<%= link_to event.name, event %>
	<br/>
	<% end %>
</div>
<div id="menu_bar">Login</div>
<div id="right_column">
	<h1><%= @welcome %><h1>
</div>
