<%= render 'menu', { :permission => @permission } %>
<div id="left_column">
	<%= render 'eventlist' %>
</div>

<div id="right_column">
  <br/>
	<h1>Willkommen beim FHS EventGuide</h1>
  <br/>
  <p>
    Hier kannst du dir alle Informationen 체ber MMT am Tag der offenen T체r holen. <br/>
    Stationen, die ganztags stattfinden, oder zeitlich begrenzte Vort채ge, alles findest du hier.
  </p>
  <br/>
  <p>
    Du kannst mit Hilfe des Guides alleine durch die FH gehen, oder du suchst dir einen Guide, <br/>
    der dich durch die Stationen f체hrt.
  </p>
  <br/>
  <%= image_tag "fhs_mmt.png", :height => "150", :align => "center"%>
</div>

