$('#right_column').html(' \
<div id="image"><%= image_tag(@event.image) %></div> \
	<div id="description"> \
    <h3><%= @event.title %></h3> \
    <%= @event.description.html_safe %> \
  </div> \
<div id="facts"><br/><br/><br/>test</div> \
');


