$('#right_column').html(' \
<div id="image"><%= image_tag @event.photo.url(:small) %></div> \
	<div id="description"> \
    <h3><%= raw @event.title %></h3> \
    <%= raw @event.description %> \
  </div> \
<div id="facts"><br/><br/><br/>test</div> \
');
