<div id="left_column">
	<h1>Events</h1>
	<br/><br/>
	not implemented yet
</div>
<div id="right_column">
	<h3><%= @event.name %></h3>
	Raum: <%= @event.room %>
	<br/>
	Beschreibung:<br/>
	<%= @event.description %>
	<br/><br/>
	<%= link_to "back", events_path %>
</div>