<%= render 'menu', { :permission => @permission } %>
<%= render 'login' %>
<div id="left_column">
	<%= render 'eventlist' %>
</div>

<div id="right_column">
	<h1>Events</h1>
		<%=link_to "Event anlegen", new_event_path , :id=> "newEventbutton" %>
</div>

