/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

#event_menu{
	position: absolute;
	top: 0;
	left: 0;
	width: 31.9%;
	height: 5.7%;
	background: url('../images/events_menu.png') no-repeat;
	background-position: center 0%; /* 0% um die obere Hälfte des Bildes anzuzeigen */
	background-size: auto 200%; /* 200% streckt das Bild auf doppelte höhe um nur die untere oder die obere Hälfte des Bildes anzeigen zu können*/
	z-index: 40;
}

#event_menu_left{
	position: absolute;
	top: 0;
	left: 0;
	width: 20%;
	height: 4%;
	//background: #0e97dd;
	padding: 0.5% 1% 0.5% 1%;
	z-index: 40;
	font-size: 20px;
}

#event_menu_right{
	position: absolute;
	top: 0;
	left: 20%;
	width: 10%;
	height: 4%;
	//background: #121212;
	padding: 0.5% 1% 0.5% 1%;
	z-index: 40;
	font-size: 20px;
}

#menu {
	position: absolute;
	border-bottom: 1px solid #e8eae9;
	top: 0;
	left: 31.9%;
	width: 66.3%;
	height: 4%;
	background: url('../images/oberer_grauer_balken.png') no-repeat;
	background-repeat: repeat-x;
	color: white;
	text-align: right;
	padding: 0.5% 1% 0.5% 1%;
	z-index: 30;
	font-size: 20px;
}

#menu a {
	color: #dedede;
	text-decoration: none;
}

#menu a:hover {
	color: white;
}

#left_column {
	position: absolute;
	top: 5.7%;
	left: 0;
	width: 30%;
	height: 91%;
	background-image: -moz-linear-gradient(top, #0e91d5, #1672a1);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.00, #0e91d5), color-stop(1.0,#1672a1));
	padding: 1%;
	z-index: 20;
}

#eventlist{
	position: absolute;
	top: 5%;
	left: 0%;
	width: 28%;
	height: 50px;
	background: #323232;
}

#right_column {
	position: absolute;
	top: 5%;
	left:31.9%;
	width: 64.2%;
	height: 87.9%;
	background-color: #dedede;
	padding: 2%;
	z-index: 10;
}

#image{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 45%;
	background: white;
}

#description{
	position: absolute;
	top: 45%;
	left: 0%;
	width: 100%;
	height: 50%;
	background-image: -moz-linear-gradient(top, #f9f9f9, #dcdcdc);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.00, #f9f9f9), color-stop(1.0,#dcdcdc));
}

#login {
	position: relative;
	margin: auto;
	top: 200px;
	width: 300px;
	height: 200px;
	background-color: #dedede;
	border: 1px dotted black;
	z-index: 50;
	display: none;
}
