/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require fancybox
 *= require_tree .
 */
@import url(http://fonts.googleapis.com/css?family=Droid+Sans);

body {
	overflow: hidden;
	font-family: 'Droid Sans';
}

a.block_link {
	display: block;
	padding: 10px;
	width: 120px;
	text-align: center;
	border: 1px solid #858585;
	background-color: #d3d3d3;
	text-decoration: none;
	color: black;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
a.block_link:hover {
	background-color: #b6b5b5;
}


#notice {
	background-color: #A4E7A0;
	border: 1px solid #26722D;
}
#error {
	background-color: #F0A8A8;
	border: 1px solid #900;
}
#notice, #error {
	position: absolute;
	top: 55px;
	right: 20px;
	padding: 5px 10px 5px 10px;
	z-index: 100;
}

#left_column {
	position: absolute;
	top: 40px;
	left: 0;
	width: 307px;
	height: 94.3%;
	background-image: -moz-linear-gradient(top, #0f92d8, #1573a4);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.00, #0f92d8), color-stop(1.0,#1573a4));
	z-index: 20;
	overflow-y: auto;
	overflow-x: hidden;
}

#event_menu_left a{
color: #000000;
}

#right_column {
	position: absolute;
	top: 40px;
	left: 307px;
	right: 0;
	bottom: 0;
	background-color: #f1f1f1;
	padding: 0 20px 0 20px;
	z-index: 10;
	overflow-x: hidden;
	overflow-y: auto;
}
form input, select {
	height: 25px;
}
form label {
	margin-top: 5px;
}
form p {
	margin: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid #999999;
}
form .button {
	text-align: right;
	border: 0;
}
form .submit_tag {
	font-family: 'MetaPro';
	height: 40px;
	width: 60px;
}
form .submit_tag_big {
	font-family: 'MetaPro';
	height: 40px;
	width: 120px;
}
form textarea {
	resize: none;
}
form .span_radiobutton {
	display: block;
	width: 400px;
	height: 30px;
	border: 1px dotted black;
}

