// Place all the styles related to the Base controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#ranking {
  width: 100%;
}

#ranking .tr_header {
  font-weight: bold;
}

#ranking .rank {
  display: block;
  float: left;
  width: 10%;
}

#ranking .name {
  display: block;
  float: left;
  width: 40%;  
}

#ranking .stars {
  display: block;
  float: left;
  width: 50%;
  text-align: right;
}

#ranking td {
  border-bottom: 1px solid #999999;
  padding: 5px 0 5px 0;
}
