// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.eventlist{
	position: relative;
	border-bottom: 1px solid #095e87;
	border-top: 1px solid #68bce8;
	left: 0;
	top: -1px;
	width: 287px;
	height: 77px;
  padding-left: 15px;
  padding-top: 20px;
  a {
    color: white;
    text-decoration: none;
  }
}
