// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#login {
  width: 250px;
}

#login label {
  display: block;
  width: 80px;
  float: left;
  font-weight: bold;
}

#login h3{
  border-bottom: 1px dotted black;
  padding: 5px;
  margin: 0;
}