// Place all the styles related to the Visitors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a.block_link_visitor {
  display: block;
  padding: 10px;
  width: 140px;
  text-align: center;
  border: 1px solid #858585;
  background-color: #d3d3d3;
  text-decoration: none;
  color: black;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  float: left;
}

#search_form {
  text-align: right;
}

#visitors_list{
  width: 100%;
}

#visitors_list td {
  border-bottom: 1px solid #999999;
  padding: 5px 0 5px 0;
}

#visitors_list span {
  display: block;
  float: left;
}

#visitors_list .number {
  width: 5%;
}

#visitors_list .name {
  width: 35%;
}

#visitors_list .interests {
  width: 45%;
}

#visitors_list .action {
  width: 15%;
  text-align: right;
}
