<%= render 'menu', { :permission => @permission } %>
<div id="left_column">
	<%= render 'eventlist' %>
</div>
<div id="right_column">
	<br/>
	<h1>Willkommen beim FHS EventGuide</h1>
	<%= image_tag "Startbild.png", :height => "80%", :align => "center"%>
</div>
