<%= render 'menu', { :permission => @permission } %>
<div id="left_column">
	<%= render 'eventlist' %>
</div>
<div id="right_column">
	<br/>
	<h1 style="text-align: center">Willkommen beim FHS EventGuide</h1>
	<%= image_tag "Startbild.png", :width => "100%", :align => "center"%>
</div>
